bcrypt==3.1.5
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
configparser==3.5.0
defusedxml==0.5.0
Django==1.9.10
future==0.16.0
idna==2.8
jedi==0.11.1
json-rpc==1.10.8
mccabe==0.6.1
oauthlib==3.0.1
olefile==0.46
parso==0.1.1
Pillow==5.3.0
pluggy==0.6.0
pycodestyle==2.3.1
pycparser==2.19
pydocstyle==2.1.1
pyflakes==1.6.0
PyJWT==1.7.1
python-language-server==0.12.2
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2018.7
rango==0.0.2a0
requests==2.21.0
requests-oauthlib==1.2.0
rope==0.10.7
selenium==3.141.0
six==1.12.0
snowballstemmer==1.2.1
social-auth-app-django==3.1.0
social-auth-core==3.1.0
Unidecode==1.0.22
urllib3==1.24.1
virtualenv==15.1.0
virtualenvwrapper-win==1.2.5
wincertstore==0.2
yapf==0.20.1
