<!DOCTYPE html>
{% load staticfiles %}
{% load letswatch_template_tags %}

<html>
<head lang="en">
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

 <meta charset="UTF-8" />
 <link href="{% static 'css/dist/css/bootstrap.min.css'%}" rel="stylesheet">

 <link rel="stylesheet" href="{% static 'css/base.css' %}">

 {% block headblock%}
 {% endblock %}

 <title>
  letswatch -
  {% block title_block %}
  Let's Watch!
  {% endblock %}
</title>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'logo.png'%}" width="10%" class="logo center" alt="logo here">Let's Watch</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'trending' %}">Trending <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</a>
          {% genre_template %}
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
          
          <div class="dropdown-menu" aria-labelledby="dropdown01">

           <a class="dropdown-item" href="{% url 'profile' user.username %}">Show Profile</a>

           <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

           <a class="dropdown-item" href="{% url 'watchlist' %}">Watchlist</a>

         </div>
       </li>

       {%else%}
       <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>

        <div class="dropdown-menu" aria-labelledby="dropdown01">

         <a class="dropdown-item" href="{% url 'login' %}">Sign In</a>

         <a class="dropdown-item" href="{% url 'register' %}">Register</a>

       </div>
     </li>
     {% endif %}

     <li class="nav-item active">
      <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
    </li>
    <li><a class="nav-link" href="{% url 'search' %}">Search</a></li>




  </ul>
  <form method="GET" value="{{request.GET.q}}">
    <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search movies"/>
    <input type="submit" name="submit" value="Search"/>
  </form>

  {% if submitbutton == 'Search' and request.GET.q != '' %}
  {% if results %}
  <h1>Results for <b>{{ request.GET.q }}</b></h1>
  <br/><br/>
  {% for result in results %}
  {{result.title}}
  <br/>
  {{result.content}}
  <br/>
  {% endfor %}
  {% else %}
  No search results for this query
  {% endif %}
  {% endif %}
</div>
</nav>
<!-- 
do not edit the above  -->
<div class="container" >
  
  <br>
  <br>
  {% block body_block %}
  {% endblock %}

</div>


</body>


</html>
