<!DOCTYPE html>
{% load staticfiles %}
{% load letswatch_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <link href="{% static 'css/dist/css/bootstrap.min.css'%}" rel="stylesheet">

           <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block headblock%}
        {% endblock %}

        <title>
            letswatch -
            {% block title_block %}
                Let's Watch!
            {% endblock %}
        </title>
    </head>
    <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{% static 'logo.png'%}" width="10%" class="logo center" alt="logo here">Let's Watch</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
          </li>
          <li><a class="nav-link" href="{% url 'search' %}">Search</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'profile' user.username %}">Profile <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
        </ul>
        <form method="GET" value="{{request.GET.q}}">
        <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search movies"/>
        <input type="submit" name="submit" value="Search"/>
        </form>

        {% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
        <h1>Results for <b>{{ request.GET.q }}</b></h1>
        <br/><br/>
        {% for result in results %}
        {{result.title}}
        <br/>
        {{result.content}}
        <br/>
        {% endfor %}
        {% else %}
        No search results for this query
        {% endif %}
        {% endif %}
      </div>
    </nav>

    <div class="container">
        <div class="">
            <img src="{% static 'logo.png'%}" class="logo">

            <div class="header-right">
            <a class="active" href="{% url 'index' %}">Home</a>
            <a href="#contact">Contact</a>
            <a href="{% url 'about' %}">About</a>
  </div>
        </div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'watchlist' %}">My Watch List</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}

                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'index' %}">Home</a></li>


            </ul>
            <li><a href="{% url 'trending' %}">Trending</a></li>
        </div>
<h1>
{%get_genre_list%}
</h1>
    </body>

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'css/assets/js/vendor/jquery.min.js'%}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'css/dist/js/bootstrap.min.js' %}"></script>

</html>
