{% extends 'letswatch/base.html' %}
{% load staticfiles %}
{% block headblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
<!------ Include the above in your HEAD tag ---------->
{% endblock %}
{% block title_block %}
{{genre.name}}
{% endblock %}
{% block body_block %}
<h1 class="title">{{genre.name}}</h1>
		<div class="flip-menu">
		{%if movies%}
		{% for movie in movies %}
		<section class="flip-item-wrap">
			{{movie.title}}
			<img src="{{MEDIA_URL}}/{{movie.thumb}}">
			"{{MEDIA_URL}}/{{movie.thumb}}"
			</section>
		{%endfor%}
		{% else %}
		<h1 class="title">No movies currently in genre!</h1>
		{%endif%}
		{% if user.is_authenticated %}
		  <a href="{% url 'add_movie' genre.slug %}">Add a movie</a>
		{%endif%}
		</div>

{%endblock%}