{% extends 'letswatch/base.html' %}
{% load staticfiles %}
{% block headblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/carousel.css' %}">


<!------ Include the above in your HEAD tag ---------->
{% endblock %}

{% block body_block %}
<h1 class="text-center"> {{genre.name}}</h1>
		{% if user.is_authenticated %}
			<h2 class="text-center">

			<a href="{% url 'add_movie' genre.slug %}">Add a movie</a>
			{%endif%}
			</h2>
	<div class="container-fluid">
		<div class="row">
	{%if movies%}
			{% for movie in movies %}
			
					<div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
							<img src="{{MEDIA_URL}}/{{movie.thumb}}" class="img-thumbnail" alt="" />
							<div class="portfolio_images_overlay text-center ">
								<h6 class="clrd-font">{{movie.title}}</h6>
								<p class="clrd-font product_price"> <i class="fa clrd-font" aria-hidden="true"></i> {{movie.views}}</p>
								<a href="{{movie.url}}" class="btn btn-primary">Click here</a>
								<a href="{% url 'show_movie' movie.slug %}" class="btn btn-primary">take me to the profile</a>
							</div>
							<a class="fancybox" rel="ligthbox" href="http://i.imgur.com/PUeaHfC.png">
								
							</a>
					</div>
					
					{%endfor%}

					
				{% else %}
			<h1 class="title">No movies currently in genre!</h1>
			{%endif%}
	
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
	<script > $(document).ready(function(){
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});
</script>


	{%endblock%}