{% extends 'letswatch/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Let's Watch!
{% endblock %}
{%block headblock %}
<style type="text/css">

h1{
	font-family:Helvetica;
	text-transform:uppercase;
    color: #FFF;
    display: inline;
    margin-top: 5%;
}

.img{

width: 100%;
height: auto;

}
.body.home div:first-child div div span a {
	color:#f43636;
	font-family:Arial Black, Helvetica, sans-serif;
	font-size:12px;
	text-transform:uppercase;
}

body, html {
  height: 100%;
  margin: 0;
    background-image: url("{{MEDIA_URL}}/th2.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

h2{
   margin-left: 1%;
   margin-top: 5%;
    color: #fbfaf2;
    display:inline;
}

</style>

{% endblock %}
{% block body_block %}

	<!-- <img src="{{MEDIA_URL}}th.jpg" style="width:100%;"> -->
    <strong><h1>Let's Watch!</h1></strong>
    {% if user.is_authenticated %}
            <h1>Hello {{user.username}}!</h1>
        {% else %}
          <h2 > Hellooo!</h2>
          <h2>we'd love it if you join us!, <a href="{% url 'register' %}">Sign up</a> or <a href="{% url 'login' %}">Sign in</a></h2>
        {% endif %}
<div class="container">
      


</div>
			

        <br />

{% endblock %}
