<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Football Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div class="background">
		<div class="page">
			<div class="header">
				<a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
				<ul>
					<li>
						<a href="news.html">Trending</a>
					</li>
					<li>
						<a href="team.html">Request</a>
					</li>
					<li>
						<a href="schedule.html">MyWatchlist</a>
					</li>
					<li>
						<a href="videos.html">Search</a>
					</li>

				</ul>
			</div>
			<div class="body home">
				<div>
					<div class="featured">
						<div>
							<h2>We Are The <br> Champions</h2>
							<p>
								Enjoy critiquing movies at the comfort of your own home!
							</p>
						</div>
					</div>
					<div>
						<div>
							<h3>This Weeks Top 3 Trending</h3>
							<span><a href="videos.html">View More</a></span>
							<ul>
								<li>
									<a href="videos.html"><figure  class="media"><img class="media" src="media/wolf.jpg" alt=""></figure></a>
									<h4>The Wolf of wallstreet</h4>
									<p>
										4/5
									</p>
								</li>
								<li>
									<a href="videos.html"><figure class="media"><img class="media"  src="media/boywonder.jpg" alt="">
									</figure>
									</a>
									<h4>Boy Wonder</h4>
									<p>
										3/5
									</p>
								</li>
								<li>
									<a href="videos.html"><figure class="media"><img class="media" src="media/lego.jpg" alt=""></figure></a>
									<h4>Lego Movie</h4>
									<p>
										5/5
									</p>
								</li>
							</ul>
						</div>
						<div>
							<h3>In Cinemas Right Now</h3>
							<span><a href="news.html">View More </a></span>
							<ul>
								<li>
									<a href="news.html"><figure class="media"><img class="media" src="media/her.jpg" alt=""></figure></a>
									<h4>Her</h4>
									<p>
									1/5
									</p>
								</li>
								<li>
									<a href="news.html"><figure class="media"><img class="media"  src="media/american.jpg" alt=""></figure></a>
									<h4>American Beauty</h4>
									<p>
										2/5
									</p>
								</li>
								<li>
									<a href="news.html"><figure class="media"><img class="media" src="media/captain.jpg" alt=""></figure></a>
									<h4>Captain Phillips</h4>
									<p>
										3/5
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="sidebar">
					<div class="news">
						<span>User Info</span>
						<figure class="user">
								<img class="user" src="media/user.jpg">
								</figure>
						<ul>

							<li><a href="myprofile.html">My Profile</a></li>
							<li><a href="myprofile.html">Sign Out</a></li>

						</ul>

					</div>
					<div class="section">
						<span>My WatchList</span>
						<ul>
							<li>
								<a href="schedule.html">ZZTigers VS Alligaterz</a> <span>23 July 2023 @ 9AM</span>
							</li>
							<li>
								<a href="schedule.html">ZZTigers VS Ninjas</a> <span>23 July 2023 @ 9AM</span>
							</li>
							<li>
								<a href="schedule.html">ZZTigers VS Munkees</a> <span>23 July 2023 @ 9AM</span>
							</li>
							<li>
								<a href="schedule.html">ZZTigers VS Cheetaz</a> <span>23 July 2023 @ 9AM</span>
							</li>
							<li>
								<a href="schedule.html">ZZTigers VS AlienAnts</a> <span>23 July 2023 @ 9AM</span>
							</li>
						</ul>
						<a href="schedule.html">View Schedule</a>
					</div>
					<div>
						<span>Latest Tweets</span>
						<ul>
							<li>
								<p>
									<a href="#">Praesent urna odio, vehicula quis placerat nec, feugiat id purus. Proin vitae nibh in est molestie iaculis.</a>
								</p>
							</li>
							<li>
								<p>
									<a href="#">Nunc lacinia mi et quam eleifend ullamcorper scelerisque id tortor.</a>
								</p>
							</li>
							<li>
								<p>
									<a href="#">Mauris lobortis dolor ac ipsum fermentum nec placerat mauris  luctus.</a>
								</p>
							</li>
						</ul>
						<a href="http://freewebsitetemplates.com/go/twitter/">Follow @zztigers <br> on Twitter</a>
					</div>
				</div>
			</div>
			<div class="footer">
				<div>
					<ul>
						<li class="selected">
							<a href="index.html">Home</a>|
						</li>
						<li>
							<a href="news.html">News</a>|
						</li>
						<li>
							<a href="team.html">Team</a>|
						</li>
						<li>
							<a href="schedule.html">Schedule</a>|
						</li>
						<li>
							<a href="videos.html">Videos</a>|
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
					</ul>
					<p>
						&#169; ZZ TIGERS 2023. All Rights Reserved
					</p>
				</div>
				<div class="connect">
					<span>Follow Us</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="fb">fb</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a> <a href="http://www.freewebsitetemplates.com/misc/contact" id="contact">contact</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
