{% extends 'letswatch/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{movie.title}}
{% endblock %}

{% block body_block %}
    <div>
        {%if movie %}
            <h1>{{movie.title}}</h1>
            {% if movies %}
                <ul>
                    {% for movie in movies %}
                        <li><a href="{{ movie.url }}">{{ movie.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No movies currently in genre.</strong>
            {% endif %}
        {% else %}
                The specified genre does not exist!
        {% endif %}
    </div>
{% endblock %}
