{% extends 'letswatch/base.html' %}
{% load staticfiles %}
{% block headblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
   <h1>Register for Let's Watch!</h1>
   {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
        <strong>Register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
                {{user_form.as_p}}
                {{profile_form.as_p}}
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}
