{% extends 'letswatch/base.html' %}
{% load staticfiles %}
{% block headblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
<!-- Custom styles for this template -->
<link href="{% static 'css/carousel.css'%}" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
<style>
	.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	@media (min-width: 768px) {
		.bd-placeholder-img-lg {
			font-size: 3.5rem;
		}
	}
</style>
{% endblock %}
{% block title_block %}
{{genre.name}}
{% endblock %}
{% block body_block %}


<div class="container">
	<div class="header-title">


		<h1 class="wv-heading--title">
			
		</h1>

	</div>
	
	<div class="row">
		{%if movie%}
		<div class="col-lg-4">
			<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
				{{ movie.title }}
				<title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
				<h2>Heading</h2>
				<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->

			
			{%endif%}
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
				<h2>Heading</h2>
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
				<h2>Heading</h2>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->

		<div class="row">
			{%if movie%}
		

			<div class="col-lg-4">
		

					<svg width="140" height="140" class="bd-placeholder-img rounded-circle"  xmlns="http://www.w3.org/2000/svg"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
						<title>{{movie.title}}</title>
						<defs>
							<clipPath id="myCircle">
								<rect width="100%" height="100%" fill="#777"/>
							</clipPath>
						</defs>
						<image width="70%" height="70%" xlink:href="{{MEDIA_URL}}/{{movie.thumb}}" clip-path="url(#myCircle)" />
						<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
					</svg>

</div>	
					<div class = "caption">
						<h4>{{movie.title}}</h4>
						<p>{{movie.views}}</p>

						<p>
							<a href = "{{movie.url}}" class = "btn btn-primary my-input" role = "button">
								Button
							</a> 

							<a href = "#" class = "btn btn-default my-input" role = "button">
								Button
							</a>
						</p>
					</div>
				</div>
			</div>

			
			{% else %}
			<h1 class="title">No movies currently in genre!</h1>
			{%endif%}
			{% if user.is_authenticated %}
			
			{%endif%}
		</div>
	</div>
</div>
</div>

{%endblock%}