{% extends 'letswatch/base.html' %}
{% load staticfiles %}
{% block headblock %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<!-- Custom styles for this template -->

<!------ Include the above in your HEAD tag ---------->
<style>
	#poster_div{
		width: 30%;

		height: : auto;

	}
	#movie_div{


	}

</style>

<script type="text/javascript">
	//$(document).ready(function() {
		//$("#test").submit(function(event){
	//		event.preventDefault();
	$(document).ready( function() {

	$.get('{% url 'list_reviews'  movie.slug %}',
		{csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data){ $('#list_comments').html(data);
			
			});
		//onload="myFunction()"

// 		$.ajax({
// 			url: '{% url 'list_reviews'  movie.slug %} ',
// 			type: "POST",
// 			dataType: "json",
// 			data: {
// 				csrfmiddlewaretoken: '{{ csrf_token }}',
// 			},

// 			success: function (data) {
// // 				$.get('/rango/add/',
// // {category_id: catid, url: url, title: title}, function(data){ $('#pages').html(data);
// // me.hide();
// // });
// 				document.getElementById('list_comments').innerHTML=data;

// 				document.getElementById('list_comments').innerHTML="hellooooo"

// 			} ,

// 		})
		// .done(function (response) {
		// 		document.getElementById('list_comments').innerHTML=response;

		// 	}   
		// 	)
		
		
		// $.ajax({
  //          url: '{% url 'list_reviews'  movie.slug %} ',
  //          type: "GET",
  //          dataType: "json",
  //          data: {
  //                   comment: "test"
  //                   },
  //           })
		// .always(function () {
  //              $.ajax({
  //               url: '{% url 'list_reviews'  movie.slug %} ' ,
  //               type: "GET"}).done(function (response) {
  //                   document.getElementById('list_comments').innerHTML=response
  //                 })
  //        });


  $('.rango').click(function(){
  	var that = $(this);


  	$.ajax({
  		type: "POST",
  		url: "{% url 'ajax_reviews' movie.slug %}",
  		dataType:'json',
  		data: {
  			content:$('#content').val(),
					//rating:$('input[name=rating]').val(),
					rating:$('input[name=rating]').val(),
					
					movie:$('input[name=movie]').val(),
					username:$('input[name=username]').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
				}, //close data
			}) //close ajax





		}); //close button


  console.log("success!");
  return false;   
});

</script>	


{% endblock %}
{% block title_block %}
{{genre.name}}
{% endblock %}
{% block body_block %}


<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto text-center">
			<div class="header-title">
				{%if movie%}
				<title>{{ movie.title }}</title>

				<h3>{{movie.title}} - {{movie.year}}</h3>
				<h2>Views : {{movie.views}}</h2>
				<div >
					<image id="poster_div" src="{{MEDIA_URL}}/{{movie.thumb}}" ></image>
				</div>

				<br>
				<h2>Trailer</h2>
				<iframe class="movie_div" height="40%"width="auto" src="{{movie.url}}">
				</iframe> 
				
				<hr class="hr-or">


			</div>
		</div>
	</div>
	<div id="comment_div" class="row">
		
		<div class="col-md-6 mx-auto text-center">
			<input type="hidden" name="username" value="{{user.username}}">

			<input type="hidden" name="movie" value="{{movie.slug}}">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
			
			<h2> Previous Comments</h2>
			<div id="list_comments">
				here?
			</div>
			<h4>Write your comment</h4>
			<textarea class="form-control" id="content" rows="4"></textarea>
			<br>
			<hr class="hr-or">
			<label class="radio-inline"><input type="radio" name="rating" value="1" checked>1</label>
			<label class="radio-inline" ><input type="radio" name="rating" value="2">2</label>
			<label class="radio-inline"><input type="radio" name="rating" value="3">3</label> 
			<label class="radio-inline" ><input type="radio" name="rating" value="4">4</label>
			<label class="radio-inline"><input type="radio" name="rating" value="5">5</label> 
			<hr class="hr-or">
			<br>

			<button id="rango" class="rango btn btn-primary mb-2 send-button" >Add Review</button>


		</div>

	</div>



</div>

</div>


</div>
</div>


{% else %}
<h1 class="title">No movies currently in genre!</h1>
{%endif%}
{% if user.is_authenticated %}

{%endif%}
</div>

{%endblock%}