{% extends 'letswatch/base.html' %}
{% load staticfiles %}

{% block title_block %}
User profile
{% endblock %}
{% block headblock %}

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">



<script type="text/javascript"> 
	jQuery.noConflict();    
	formdata = new FormData();      
	jQuery("#image_to_upload").on("change", function() {
		var file = this.files[0];
		if (formdata) {
			formdata.append("image", file);
			jQuery.ajax({
				url: "{% url 'profile' user.username %}",
				type: "POST",
				data: formdata,
				processData: false,
				contentType: false,
				success:function(){}
			});
		}    
	}); 
</script> 
{% endblock %}

{% block body_block %}
<div class="text-center center">

	{% if user.is_authenticated %}

	<div class="container">

		<div class="row  border border-dark user-details rounded">
			<div class="col-sm col-md user-details">

				<div class="user-image">
					<br>
					<img src="{{MEDIA_URL}}/{{user.userprofile.picture}}" class="center-block img-thumbnail img-responsive border" id="image_to_upload" type="file">				
					<h2> Hello! @{{user.username}}</h2>

					<div class="border description">
						this is the description
					</div>

					{{userprofile.picture}}
					<form id="form" action="{% url 'profile' user.username %}" method="post" enctype="multipart/form-data"> 
						{% csrf_token %}
						{{form.as_p}}
 
						<input type="submit" value="Submit Comment" /> 
					</form>
					<br>
				</div>


			</div>
		</div>

	</div>
</div>
{% endif %}
{% endblock %}
