{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block headblock %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% endblock %}
{% block title_block %}
    Sign Up
{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}

<div class="container">
    
  <div class="row">

    <div class="col-sm-offset-3 col-sm-7" >
    
      <div class="panel panel-default">
            <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>HELLOOOO</h2>
                            <h1>@{{user.username}}</h1>
                            <p><strong>About:</strong> Web Designer / UI. </p>
                            <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                            <p><strong>Skills: </strong>
                                <span class="label label-info tags">html5</span> 
                                <span class="label label-info tags">css3</span>
                                <span class="label label-info tags">jquery</span>
                                <span class="label label-info tags">bootstrap3</span>
                            </p>
                        </div><!--/col-->          
                        <div class="col-xs-12 col-sm-4 text-center">
                            
                                <img src="" alt="" class="center-block img-thumbnail img-responsive border">

                               
                                <ul class="list-inline ratings text-center" title="Ratings">
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                </ul>
                        </div><!--/col-->

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> 20,7K </strong></h2>                    
                            <p><small>Followers</small></p>

                            <form id="profile_form" action="{{user.userprofile.image.url}}" enctype="multipart/form-data" method="post" name="upload">
                            {% csrf_token %}
                            {{ profile_form.as_p }}
                            <button class="btn btn-block send-button" type="submit" value="Register" name="submit"><span class="fa fa-plus-circle"></span> Submit </button>
                            <form>

                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>245</strong></h2>                    
                            <p><small>Following</small></p>
                            <button class="btn btn-block send-button tx-tfm"><span class="fa fa-user"></span> View Profile </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>43</strong></h2>                    
                            <p><small>Snippets</small></p>
                            <button type="button" class="btn btn-block send-button tx-tfm"><span class="fa fa-gear"></span> Options </button>  
                        </div><!--/col-->
                    </div><!--/row-->
              </div><!--/panel-body-->
          </div><!--/panel-->
</div>
    
    
    </div>
  </div>
</div>
{% endif %}

{% endblock %}