.user-image img { 
    width:20%;
    height: auto;
   
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.user-details{

width: 70%;
margin: auto;
border-style: groove;
background-color: #fff;

}
#link{
	color:  #ba667c; 
}

.description{

	width: 70%;
	margin: auto;
	border-style: groove;
	background-color: #FFF;
}

.hr-or {
height: 2px;
margin-top: 0px !important;
margin-bottom: 0px !important;
width: 50%;
}
h1{

font-size: 31px;
line-height: 40px;
font-weight: 600;
color:#4c5357;
display: inline;
}

h2{
	color: #5e8396;
font-size: 21px;
line-height: 32px;
font-weight: 400;
}

.send-button{
background: #ba667c;
width:20%;
font-weight: 600;
color:#fff;
padding: 8px 25px;

}